---
layout: layout
title: Home
---
{% comment %}
<div class="jumbotron">
<h1>Howdy!</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<hr>
{% endcomment %}


<div class="row-fluid marketing"><div class="span12">
{% for post in site.posts|limit:5 %}
    <article>
        <header>
            <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                <time>
                    {{ post.date|date_to_long_string }}
                </time>
            </a>
        </header>
        {{ post.content }}
    </article>
    <div class="pagination">
        <ul>
            {% if post.previous %}
                <li class="prev">
                    <a href="{{ BASE_PATH }}{{ post.previous.url }}" title="{{ post.previous.title }}">&larr; Previous</a>
                </li>
            {% else %}
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
            {% endif %}
            {% if post.next %}
                <li class="next">
                    <a href="{{ BASE_PATH }}{{ post.next.url }}" title="{{ post.next.title }}">Next &rarr;</a>
                </li>
            {% else %}
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endfor %}
</div></div>
    
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    


