<!-- twitter -->
<div class="twitter share-button-container"><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ post.title }} | DenisT" data-url="{{ site.production_url }}{{ post.url }}">Tweet</a>
</div>

<!-- g+ -->
<div class="gpo share-button-container">
  <div class="g-plusone" data-size="medium" data-href="{{ site.production_url }}{{ post.url }}"></div>
</div>

<!-- vk -->
<div class="vkontakte share-button-container" data-url="{{ site.production_url }}{{ post.url }}" data-title="{{ post.title }} | DenisT" data-description="{{ post.content | truncate: 100 }}">VK</div>