<!-- twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- vk -->
<script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>
<script type="text/javascript">
$('.vkontakte.share-button-container').each(function(index, el) {
  var jel = $(el);
  jel.html(VK.Share.button({
    url: jel.data('url'),
    title: jel.data('title'),
    description: jel.data('description')
  },{type: "round", text: "Сохранить"}));
});
</script>

<!-- g+ -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>